@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");
html,
body {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
}
.logo {
  font-family: "Lobster", cursive;
}
.digit {
  font-family: "Orbitron", sans-serif;
}
.game-icon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  vertical-align: middle;
  &--1 {
    background-color: #fff;
    -webkit-mask: url(/assets/icons/game-type/1.svg) no-repeat center;
    mask: url(/assets/icons/game-type/1.svg) no-repeat center;
  }
  &--2 {
    background-color: #fff;
    -webkit-mask: url(/assets/icons/game-type/2.svg) no-repeat center;
    mask: url(/assets/icons/game-type/2.svg) no-repeat center;
  }
}
.gs-loading {
  position: absolute;
  top: calc(50% - 1.5rem);
  left: calc(50% - 1.5rem);
}
.icon-24 {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  vertical-align: middle;
  &.clear {
    background-color: #deb887;
    -webkit-mask: url(/assets/icons/clear-24px.svg) no-repeat center;
    mask: url(/assets/icons/game-type/clear-24px.svg) no-repeat center;
    &:hover {
      background-color: brown;
    }
  }
  &.expanded {
    background-color: #999;
    -webkit-mask: url(/assets/icons/expand_more-24px.svg) no-repeat center;
    mask: url(/assets/icons/game-type/expand_more-24px.svg) no-repeat center;
  }
  &.collapsed {
    background-color: #999;
    -webkit-mask: url(/assets/icons/expand_less-24px.svg) no-repeat center;
    mask: url(/assets/icons/game-type/expand_less-24px.svg) no-repeat center;
  }
}
