<ng-container [ngSwitch]="config.type">
  <gs-event-field-text
    *ngSwitchCase="constants.FieldType.Text"
    [config]="config"
    [value]="value"
    (valueChanged)="onChange($event)"
    (inited)="onFieldInited($event)"
  ></gs-event-field-text>
  <gs-event-field-select
    *ngSwitchCase="constants.FieldType.Dropdown"
    [config]="config"
    [value]="value"
    (valueChanged)="onChange($event)"
    (inited)="onFieldInited($event)"
  ></gs-event-field-select>
  <gs-event-field-referee
    *ngSwitchCase="constants.FieldType.Referee"
    [config]="config"
    [value]="value"
    [game]="game"
    (valueChanged)="onChange($event)"
    (inited)="onFieldInited($event)"
  ></gs-event-field-referee>
  <gs-event-field-player
    *ngSwitchCase="constants.FieldType.Player_Single"
    [config]="config"
    [value]="value"
    [game]="game"
    (valueChanged)="onChange($event)"
    (inited)="onFieldInited($event)"
  ></gs-event-field-player>
  <gs-event-field-number
    *ngSwitchCase="constants.FieldType.Number"
    [config]="config"
    [value]="value"
    (valueChanged)="onChange($event)"
    (inited)="onFieldInited($event)"
  ></gs-event-field-number>
  <gs-event-field-team-scores
    *ngSwitchCase="constants.FieldType.TeamScores"
    [config]="config"
    [value]="value"
    [game]="game"
    (valueChanged)="onChange($event)"
    (inited)="onFieldInited($event)"
  ></gs-event-field-team-scores>
</ng-container>
