<div
  class="card text-center"
  (click)="onClick(game)"
  [ngClass]="{ 'bg-light': chosenId === game.id }"
>
  <div class="card-header bg-primary text-white">
    {{ game.name }}
  </div>
  <div class="card-body">
    <div class="row gx-2">
      <div class="col-6" *ngFor="let team of game.teams">
        <div class="bg-light p-2 border h-100">{{ team.name }}</div>
      </div>
    </div>
    <p class="card-text">
      <small class="text-muted">{{ game.dateUtc | jsonDate }}</small>
    </p>
  </div>
</div>
