<div class="container pt-3">
  <div class="mb-3">
    <gs-game-card [game]="game"></gs-game-card>
  </div>
  <div *ngIf="templateLoaded && eventLoaded">
    <div *ngFor="let event of events" class="mb-3">
      <gs-event-card
        [game]="game"
        [event]="event"
        [template]="template"
        (clicked)="onEventClicked($event)"
        (delete)="onDeleteClicked($event)"
      ></gs-event-card>
    </div>
  </div>
  <div class="d-grid mb-3">
    <button class="btn btn-primary" type="button" (click)="onNewEvent()">
      Add a new Event
    </button>
  </div>
</div>
<div
  class="modal fade"
  tabindex="-1"
  [ngClass]="{ show: confirmDelete, 'modal-bg': confirmDelete }"
  (click)="closeDialog()"
>
  <div class="modal-dialog" (click)="onDialogClick($event)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeDialog()"
        ></button>
      </div>
      <div class="modal-body">
        This operation is undoable. Are you sure you want to proceed?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeDialog()"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onConfirmDelete($event)"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
