<ng-container *ngIf="loaded; else loading"
  ><div class="container p-0">
    <div
      role="button"
      *ngFor="let evt of template.events"
      class="p-3 border text-center"
      [ngClass]="{
        'text-white': evt.eventType === selectedEvent?.eventType,
        'bg-secondary': evt.eventType === selectedEvent?.eventType,
        'bg-light': evt.eventType !== selectedEvent?.eventType
      }"
      (click)="onEventClick(evt)"
    >
      {{ evt.name }}
    </div>
  </div>
</ng-container>
<ng-template #loading
  ><div class="gs-loading">
    <div class="spinner-border text-secondary" role="status">
      <span class="sr-only"></span>
    </div></div
></ng-template>
