<div class="mb-3">
  <div>
    <select
      class="form-select no-border-radius-bottom"
      (change)="onTeamChange($event)"
    >
      <option
        *ngFor="let tm of game.teams"
        [value]="tm.id.toString()"
        [selected]="tm.id.toString() === team.id"
      >
        {{ tm.name }}
      </option>
    </select>
  </div>
  <div class="form-floating">
    <select
      class="form-select no-border-radius-top border-top-0"
      (change)="onPlayerChange($event)"
    >
      <option
        *ngFor="let player of team.players"
        [value]="player.id.toString()"
        [selected]="player.id.toString() === value"
      >
        {{ player.name }}
      </option>
    </select>
    <label class="form-label">{{ config.question }}</label>
  </div>
</div>
