.digit-display {
  min-height: 3.5rem;
}
.digit-button {
  background-color: #efefef;
  margin: 0.125rem;
  width: 6rem;
  height: 6rem;
  &.digit-ok {
    background-color: var(--bs-teal);
    color: var(--bs-white);
  }
  &:active {
    background-color: #999;
    color: #fff;
    &.digit-ok {
      background-color: var(--bs-green);
    }
  }
}
